/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* SECCION INICIO */
.inicio {
    background: linear-gradient(rgba(187, 124, 124, 0.5), rgba(0, 0, 0, .8)),
        url("https:lh3.googleusercontent.com/eBZNU_mvQXQuskevbT4WyB_cDZEJfX6LuQaSozA4EoFoheD0M28LtF3hKIk26TplFLSl7tlw8VBR2tUAhYlEPkhHO7jGzrpnXz58m1Zt181lEpqj5ccXsZNuDe0WNXsKraN3qaSxW2eMXMyQjaBhMBixtv94BoA3qBsWI9i2NA2HoqN2r9BPKBccPE6DbA6xPDQT40TZrXNdQk796RVt6y_5kmy2DY0TLtYogbR_BD0QXuUM9NgOmLZ0wklR6CsZJawmG5rXA8lZDQHYX19oWZk3Qigox9mrhlZm8Q3qQapTddp6__1_2WgS2BVRHX-JGZP4xyr_dG7kvz_uvXBvHQ-XqpqCueQQXtd0Cvqc5IKTP1hqTclwD2XIxiYjt63mTRSKv3X5k2m_Fu0WJvggLfsMQBBaYsCwDJO7yxIZNl_tm1zau0AOMkczLMIqZHP89QxiSOPXneqdtrjq8S_kn_r8NS_1zZgxu1lpmRowuwgpe5NFUCCkJePe_Ti-y_-Sv6DZ1QC2rUC9ht0Aab3oWM08SzugWvXeGhdsW2NWByDOsIQewPaCoPeao7ThBggz4ZFK3gERCYl8SvEQIrn3d1RMRxPjzoAzRRTURUOW8y6IpRz7TkwA3hQe0tfyJutbZ6xMqJgoQeqhI5asJBCr5GlyXnJFjk-Hyfo2Z-oxC4Vbs-yNDOFEFECHUki8UmQOar63Zgk5p5wXht12IIV2ztRCninc4jp8PY3QF9kEdJJ2-6zajXfMk379GOrOgNzayA-prSw9B3MremtH_D5qcAGEzos8Yb_iEcmLmc3IARbIW2Rpsz-HPHP6cKrCWjSq4B8JaUljwqXi4654LPzHVL3kra4wqsP1OGpwMKebRxU-1mtmUymTteJuFTAlQHrbwF5AVuCGc9gsZpL2jddd8Qw4j7dsT8_icYEpS5mXEJhGSvT9iA=w808-h606-s-no?authuser=0");
    background-size: cover;
    background-position: left;
    color: #fff;
}

.inicio .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.inicio .contenido-seccion header {
    padding: 30px;
}






/*logo HM*/
.inicio .contenido-seccion header .logo {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #bb2047;
}

.inicio .contenido-seccion header .logo .color {
    color: #940253;
    font-family: "Yellowtail";
}




.inicio .contenido-seccion .info {
    padding-bottom: 30px;
}

.inicio .contenido-seccion .info h1 {
    font-size: 3rem;
    letter-spacing: 5px;
   text-align: center;
}

.inicio .contenido-seccion .info h2 {
    font-weight: normal;
    font-size: 23px;
    margin-top: -10px;
    letter-spacing: 2px;
    text-align: right;
}

.inicio .contenido-seccion .info .redes {
    margin: -55px 100px;
    padding: 100px;
    
}

.inicio .contenido-seccion .info .redes a {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(0, 0, 0,.3);
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    margin: 0 2px;
    transition: .3s;
}

.inicio .contenido-seccion .info .redes a:hover {
    color: #830924;
    background-color: #d41142;
    box-shadow: 0 0 20px #0c0000;
}

.inicio .contenido-seccion .foto {
    position: left;
}

.inicio .contenido-seccion .foto img {
    max-width: 300px;
    border-radius: 50%;
    border: 5px solid #940253;
    position: absolute;
    left: 50%;
    top:90px;
    transform: translateX(-650px);

}

/* estilos generales */
.titulo-seccion {
    font-family: "Yellowtail";
    font-size: 1.5rem;
}

/* SECCION SOBRE MI */
.sobremi {
    background-color: #975b5b;
    padding: 45px 0 100px 0;
    text-align: center;
font-size: 20px;
}

.sobremi .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
/*detalles personales*/
.sobremi .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}/*colaboro...*/

.sobremi .contenido-seccion .especial {
    color: #4b0328;
    font-weight: bold;
    margin-top: 15px;
}

.sobremi .contenido-seccion p {
    max-width: 400px;
    margin: auto;
    color: #460808;
}


.sobremi .contenido-seccion .fila {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.sobremi .contenido-seccion .fila .col {
    width: 30%;
}

.sobremi .contenido-seccion .fila .col i {
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}

.sobremi .contenido-seccion .fila .col span {
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

/* SECCION FORMACION */


.caja1{
    width: 100%;
    height: 45px;
    color: #0f0108;
    font-weight: bold;
    text-align: center;
   
    font-size: 25px;
    background-color: #8a5252;
   
}
.caja2{
    width: 50%;
    height: 250px;
   color: #830924;
    float: left;
    background-color: #8a4848;
    text-align:center   

}

.caja3{
    width: 50%;
    height: 250px;
    float: left;
    color: #830924;
    text-align: center;
    background-color: #8a4848;

    
}

/* SECCION RESUMEN */
.resumen {
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.resumen .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.resumen .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.resumen .contenido-seccion .info {
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.resumen .contenido-seccion .info .col {
    width: 45%;
}

.resumen .contenido-seccion .info .col .titulo {
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 2px solid #940253;
    padding: 10px;

}

.resumen .contenido-seccion .info .col table {
    margin-top: 30px;
    border-collapse: collapse;
}

.resumen .contenido-seccion .info .col table .datos {
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}

.resumen .contenido-seccion .info .col table h4 {
    margin-top: 10px;
}

.resumen .contenido-seccion .info .col table h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.resumen .contenido-seccion .info .col table p {
    font-size: 14px;
}

.resumen .contenido-seccion .info .col table .promedio {
    display: block;
    color: #940253;
    margin-top: 10px;
    font-weight: bold;
}

.resumen .contenido-seccion .info .col table .descripcion {
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

/* SECCION CONTACTO */
.contacto {
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}

.contacto .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.contacto .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.contacto .contenido-seccion .fila {
    display: flex;
    justify-content: space-around;
}

.contacto .contenido-seccion .fila .col {
    margin-top: 50px;
}

.contacto .contenido-seccion .fila .col h2 {
    color: #940253;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:800px) {
    .habilidades .contenido-seccion .fila {
        display: block;
    }

    .habilidades .contenido-seccion .fila .col {
        width: 100%;
        text-align: center;
    }

    .habilidades .contenido-seccion .fila .col .cont-barra {
        justify-content: center;
    }

    .sobremi .contenido-seccion .fila {
        display: block;
    }

    .sobremi .contenido-seccion .fila .col {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .resumen .contenido-seccion .info {
        display: block;
    }

    .resumen .contenido-seccion .info .col {
        width: 90%;
        margin: auto;
    }

    .resumen .contenido-seccion .info .col .titulo {
        display: block;
        text-align: center;
    }

    .resumen .contenido-seccion .info .col table {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .contacto .contenido-seccion .fila {
        display: block;
    }
}   